/* ============== Common styles ==============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media only screen and (min-width:768px) {
 .container{
    max-width: 768px;
 }
 }
@media only screen and (min-width:1158px) {
    .container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* ==============/Page Header styles ==============*/

@media only screen and (max-width:767px){
.nav-list,
.contacts-studio {
  display: none;
    }
.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #2f2f37;
  line-height: 0;
     }

}
@media only screen and (min-width:768px) {
    .menu-open-btn {
        display: none;
    }
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.logo-text {
    color: #2e2f42;
}

/* ============== Mobile Menu styles ==============*/
@media only screen and (max-width:767px){
.mobile-menu{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999999999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;

}
.mobile-menu.is-open{
opacity: 1;
visibility: visible;
pointer-events: auto;
}


.mobile-menu-close-btn{
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px;
    fill: #2e2f42;
    padding: 0;
    line-height: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);   
 }
 .mobile-close-btn-icon {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu-close-btn:hover,
 .mobile-menu-close-btn:focus {
     fill: #fff;
     background-color: #404bbf;
     border: none;
 }
.mobile-nav-menu{
    margin-top: 72px;
    margin-bottom: 168px;
    max-width: 151px;
}
.mobile-nav-menu-list{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.mobile-nav-list-link{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.current {
    color: #404bbf;
}

.mobile-nav-list-link:hover {
    position: relative;
    color: #404bbf;

}

.mobile-nav-list-link:hover,
.mobile-nav-list-link:focus {
    color: #404bbf;

}
.mobile-contacts-studio {
    font-style: normal;
    display: block;
    max-width: 193px;
    left:0;
}

.mobile-contacts-studio-list {
    display: flex;
    flex-direction: column;
     gap: 24px;
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #404bbf;

}

.mobile-contacts-link {
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;


}
.mobile-social-media-container{
    margin-top: 48px;
    margin-bottom: 40px;
    left:0;
    max-width: 280px;
    
}
.mobile-social-list {
    display: flex;
    gap: 40px;
}

.mobile-social-list-item {
    width: 40px;
    height: 40px;
}

.mobile-social-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-icon {
    fill: #f4f4fd;
}

.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
    background-color: #404bbf;
}
}


@media only screen and (min-width:768px) {
.mobile-menu{
    display: none;
}
}

/* ============== Tablet styles ==============*/
@media only screen and (min-width:768px) {
.logo {
        margin-right: 120px;
    }
.page-nav {
        display: flex;
        align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-list-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.current {
    position: relative;
    color: #404bbf;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.contacts-studio{
    display: block;
}

.contacts-studio-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts-link {
    font-size: 12px;
    color: #434455;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

}

/* ============== Desctop styles ==============*/

@media only screen and (min-width:1158px){
.logo{
    margin-right: 76px;
}
.contacts-studio-list {
    flex-direction: row;
    gap: 40px;
}
.contacts-link{
    font-size: 16px;
    line-height: 1.5;

}
.nav-list-link{
    font-size: 16px;
    line-height: 1.5;
}
    
}

/* ============== Hero Section styles ==============*/
.hero {
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-img-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

}


.main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 216px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.btn {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background: #4d5ae5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;

}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url(../images/hero-img-mobile@2x.jpg);
}
}
@media only screen and (min-width: 768px){
    .hero{
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-img-tablet.jpg);
        
    }
.main-title{ 
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    letter-spacing: 0.02em;
}
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-img-tablet@2x.jpg);
    }
}
@media only screen and (min-width:1158px){
.hero{
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero_image.jpg);
}
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-image@2x.jpg);
    }
}
/* ============== Benefits Section styles ==============*/


.benefits {
    padding: 96px 0;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.benefits-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
}

.icons-benefits{
    display: none;
}
.benefits-list-title {
        font-weight: 700px;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}
.benefits-list-text {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
@media only screen and (min-width:768px) {
.benefits{
    display: flex;
}
    .benefits-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 72px;
    flex-direction: row;
    }
    
.benefits-list-item{
    display: flex;
    max-width: 356px;
    flex-wrap: wrap;   
    
}
}
@media only screen and (min-width: 1158px){
.section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
 .benefits {
    padding: 120px 0;
}
.benefits-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.benefits-list-item {
    width: calc((100% - 72px) / 4);
}
.benefits-list-title {
    font-size: 20px;
    line-height: 1.2;
}
.icons-benefits {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    width: 264px;

}

.benefits-list-item {
    width: calc((100%- 72) / 4);
}

}
/* ============== Team Section styles ==============*/

.team-section {
    background: #f4f4fd;
    padding: 96px 0;
}
.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
}
.team-person-container {
    padding: 32px 0;
}
.team-person-fullname {
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-person-position {
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-social-list-item {
    width: 40px;
    height: 40px;
}

.team-social-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-icon {
    fill: #f4f4fd;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: #404bbf;
}
@media only screen and (min-width:768px){
    
}
