/* ============== Common styles ==============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ==============/Page Header styles ==============*/

@media only screen and (max-width: 767px) {
  .nav-list,
  .contacts-studio {
    display: none;
  }
  .menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #2f2f37;
    line-height: 0;
    cursor: pointer;
  }
}
@media only screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  display: block;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px;
  margin-right: 120px;
}

.logo-text {
  color: #2e2f42;
}

/* ============== Mobile Menu styles ==============*/
@media only screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .menu-open-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    fill: #2e2f42;
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border-radius: 100%;
    fill: #fff;
    background-color: #404bbf;
    border: none;
  }
  .mobile-nav-menu {
    margin-bottom: auto;
    margin-top: 72px;
  }

  .mobile-nav-list-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .current {
    color: #404bbf;
  }

  .mobile-nav-list-link:hover,
  .mobile-nav-list-link:focus {
    color: #404bbf;
  }
  .mobile-nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-contacts-studio {
    font-style: normal;
    display: block;
    left: 0;
  }

  .mobile-contacts-link:hover,
  .mobile-contacts-link:focus {
    color: #404bbf;
  }

  .mobile-contacts-link {
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.02em;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .mobile-contacts-studio-list-item {
    margin-bottom: 24px;
  }
  .link-tel {
    color: #4d5ae5;
  }
  .mobile-social-media-container {
    margin-bottom: 40px;
    margin-top: 48px;
  }
  .mobile-social-list {
    display: flex;
    gap: 40px;
  }

  .mobile-social-list-item {
    width: 40px;
    height: 40px;
  }

  .mobile-social-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-social-list-icon {
    fill: #f4f4fd;
  }

  .mobile-social-list-link:hover,
  .mobile-social-list-link:focus {
    background-color: #404bbf;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ============== Tablet styles ==============*/
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
    padding: 24px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-list-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: #2e2f42;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .nav-list-link:hover,
  .nav-list-link:focus {
    color: #404bbf;
  }

  .contacts-studio {
    display: block;
  }

  .contacts-studio-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    color: #434455;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

/* ============== Desctop styles ==============*/

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts-studio-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link,
  .nav-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ============== Hero Section styles ==============*/
.hero {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-mobile@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-tablet.jpg);
    padding: 112px 0;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    letter-spacing: 0.02em;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-tablet@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_image.jpg);
    padding: 188px 0;
  }
  .main-title {
    margin-bottom: 36px;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image@2x.jpg);
  }
}
/* ============== Benefits Section styles ==============*/

.benefits {
  padding: 96px 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-list-item {
  max-width: 100%;
}

.icons-benefits {
  display: none;
}
.benefits-list-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-list-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .icons-benefits {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
}
/* ============== Team Section styles ==============*/

.team-section {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  max-width: 264px;
}
.team-person-container {
  padding: 32px 0;
}
.team-person-fullname {
  font-weight: 500px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-person-position {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-icon {
  fill: #f4f4fd;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
  background-color: #404bbf;
}
@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
  .team-container {
    max-width: 584px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
  .team-container {
    max-width: 1158px;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  .team-person-container {
    padding: 32px 0;
  }
}

/* ==============Portfolio styles ==============*/
.portfolio {
  padding: 96px 0;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.project-name-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-direction {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
.portfolio-images-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border: 1px solid #e7e9fc;
  transform: translateY(100%);
}
.portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }
}
/* ============== Page Footer styles ==============*/
.page-footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.logo-footer {
  display: inline-block;
  margin-top: 16px;
}
.logo-footer-text {
  color: #f4f4fd;
}
.page-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.social-media-container {
  box-sizing: border-box;
}
.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 208px;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-icon {
  fill: #f4f4fd;
}

/* ============== Subscription form styles ==============*/

.subscription-form-wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.subscription-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.subscription-form-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.subscription-form-input::placeholder {
  color: #ffffff;
}
.subscription-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
}
.subscription-form-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
@media only screen and (max-width: 767px) {
  .subscription-form-text,
  .social-media-text,
  .logo-footer {
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
    justify-content: start;
    padding-left: 108px;
  }
  .footer-container-logo {
    max-width: 264px;
  }
  .subscription-form-input {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    padding-left: 15px;
    gap: 0;
  }
  .footer-container-logo {
    margin-right: 120px;
  }
  .social-media-container {
    margin-right: auto;
  }
  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: #31d0aa;
  }
}
/* ============== Backdrop styles ==============*/
.backdrop {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
/* ============== /Backdrop styles ==============*/
/* ============== Modal window styles ==============*/
@media only screen and (max-width: 767px) {
  .modal {
    max-width: 288px;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
  }
  .review-form-checkbox-label {
    display: flex;
    align-items: center;
    width: 256px;
  }
  .review-form-own-checkbox {
    flex-shrink: 0;
  }
}
.modal {
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  fill: #2e2f42;
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.model-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border-radius: 100%;
  fill: #fff;
  background-color: #404bbf;
  border: none;
}
/* ============== Review form styles ==============*/

.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}
.review-form-field-input:focus {
  outline: transparent;
  border: 1px solid #4d5ae5;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-field-message {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-field-message:focus {
  outline: transparent;
  border: 1px solid #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-comment-wrapper {
  margin-bottom: 16px;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-own-checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  border-radius: 2px;
  background-color: #404bbf;
  border: 1px solid #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover .review-form-submit-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
  border: none;
}
